<!-- view folder helps in giving templates -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css"> 
    <!-- //express knows the path till public -->
  </head>
  <body>
    <h1>Home Page</h1>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores
      excepturi quam esse ratione beatae a sit nobis accusamus eligendi
      asperiores nemo veniam porro, dolor velit. Libero unde ex iste quis.
    </p>
  </body>
</html>
