<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

    <form action="/comments" method="GET">
    
        <ul>

            <% for( let comment of comments ){ %>

                      <li>
                        <h3><%=comment.Name%></h3>
                        <p><%=comment.id%></p>
                        <p><strong>comment : </strong><%=comment.Text%></p>



                      </li>

            <%}%>


        </ul>


    
    </form>

    
</body>
</html>